<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PokerStatsDataAccess.Properties.Settings.PokerStatsConnectionString"
            connectionString="Data Source=81.20.84.98\SqlExpress,4530;Initial Catalog=PokerStats;Persist Security Info=True;User ID=Pokeruser;Password=dt4ml."
            providerName="System.Data.SqlClient" />
        <add name="PokerStatsDataAccess.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=81.20.84.98\SqlExpress,4530;Persist Security Info=True;User ID=Pokeruser;Password=dt4ml."
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>